
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}


p {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
    max-width: 500px;
}


li {
    background: #fff;
    color: #333;
    font-size: 1.2em;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    font-size: 1.1em;
    color: #fff;
    background: #ff6f61;
    border: none;
    padding: 15px 20px;
    margin: 20px 5px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background: #ff4757;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

button:active {
    background: #e84118;
    transform: scale(0.95);
}

a {
    text-decoration: none;
}
